---

---

<div class="flex flex-col justify-center text-center mb-14 animate-fade-in-up">
	<h1 class="text-[42px] text-text-primary">Marina Higueras</h1>
	<h2 class="text-base text-text-secondary">UX/UI Designer, Web + Software Developer and Marketing Enthusiast</h2>
</div>

