---
---

<div class="flex flex-col justify-center text-center mb-14 animate-fade-in-up px-4">
	<h1 class="text-[42px] text-text-primary max-sm:text-3xl">Marina Higueras</h1>
	<h2 class="text-base text-text-secondary max-sm:text-sm">UX/UI Designer, Web + Software Developer and Marketing Enthusiast</h2>
</div>